<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<h1>Register</h1>
    <div id="reg_errorConflict" style="display:none; color:red">Ця електрона адреса вже використовується</div>

    <p>Будь-ласка вкажіть тип особи:</p>
    <div>
        <input id="reg_entrepreneur" type="radio" name="typeOrg" value="a1" checked> Фізична особа
        <input id="reg_enterprise" type="radio" name="typeOrg" value="a1"> Юридична особа
    </div>

    <div>
        Name: <input id="reg_name" type="text"><br>
        Email: <input id="reg_email" type="text"><br>
        Password: <input  id="reg_password" type="text"><br>
    </div>

    <button onclick="registerUser()">Зареєструватися</button>

<a href="?lang=en">EN</a>
<a href="?lang=ua">UA</a>

<script>

class User {
  constructor() {
  }
}

    function registerUser() {
  let email = document.getElementById('reg_email').value;
  let name = document.getElementById('reg_name').value;
  let password = document.getElementById('reg_password').value;
  let docErrorShower = document.getElementById('reg_errorConflict');
  let isEntrepreneur = document.getElementById('reg_entrepreneur').checked;

    let sendJson = new User();
    sendJson['name'] = name;
    sendJson['email'] = email;
    sendJson['password'] = password;
    if (isEntrepreneur){
        sendJson['typeOrganisation'] = "ENTREPRENEUR";
    }else{
        sendJson['typeOrganisation'] = "ENTERPRISE";
    }

    let url = "/register";
    let result = document.querySelector('.result');
    let xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
         window.location.href = '/auth/login';
      }else if(xhr.status === 409){
        docErrorShower.style.display = 'block';
      }
    };
    var data = JSON.stringify(sendJson);
    xhr.send(data);
  }

</script>
</body>
</html>